.formProduto__titulo {
    margin: 1rem 0;
    font-size: 1.375rem;
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .formProduto__titulo {
        font-size: 2rem;
        margin-top: 4rem;
    }
}