.formProduto__submit {
    background: var(--btn-color);
    border: 1px var(--btn-color) solid;
    color: var(--pure-white);
    padding: 0.75rem 1rem;
    font-size: .875rem;
    height: 3.1875rem;
}

@media screen and (min-width: 1024px) {

    .formProduto__submit {
        width: 37rem;
    }
}