@import url(./faq-list.css);

.faq {
    padding: 0 1rem;
}

@media screen and (min-width: 768px) {
    .faq {
        width: 15.875rem;
    }
}

@media screen and (min-width: 1440px) {
    .faq {
        display: flex;
        height: 18.9375rem;
        width: max-content;
    }
}