@import url(./banner-bg.css);
@import url(./banner-conteudo.css);
@import url(./banner-conteuto-btn.css);
@import url(./banner-conteudo-titulo.css);
@import url(./banner-conteudo-subtitulo.css);

.banner {
    margin-bottom: 1rem;
    margin-top: 4.5rem;
    display: flex;
    color: var(--pure-white);
}

@media screen and (min-width: 1024px) {
    .banner {
        margin-top: 6.5rem;
    }
}