.banner__conteudo {
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-self: flex-end;
    padding: 1rem;
    width: 100%;
}

@media screen and (min-width: 768px) {
    .banner__conteudo {
        padding: 2rem;
    }

}