.banner__bg {
    background: url(../../img/carousel-1.jpg) center / cover;
    height: 12rem;
    width: 100%;
    transition: 1s;
    display: flex;
}

@media screen and (min-width: 768px) {
    .banner__bg {
        height: 22rem;
        background: url(../../img/carousel-1.jpg) center / cover;

    }

}

@media screen and (min-width: 1440px) {
    .banner__bg {
        background: url(../../img/carousel-1.jpg) center / cover;
        ;
    }

    ;
}