@import url(./formContato-form.css);
@import url(./formContato-img.css);
@import url(./formContato-nome.css);
@import url(./formContato-menssagem.css);
@import url(./formContato-titulo.css);
@import url(../formContato/formContato-submit.css);

.formContato {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-form);
    padding: 1rem 0;
}