.formContato__mensagem {
    margin-bottom: .5rem;
    width: 100%;
    height: 5.125rem;
    resize: none;
    border-radius: 4px;
    border: none;
    outline: none;
    padding: 1rem;
    padding-top: 1.125rem;
    border-bottom: 2px var(--btn-color-sec) solid;
}

.formContato__mensagem:focus,
.formContato__mensagem:not(:focus):valid {
    border-bottom: 2px var(--form-border) solid;
}

.formContato__label--mensagem {
    position: relative;
    bottom: 6.725rem;
    font-size: 1rem;
    font-weight: 400;
    transition: 0.2s ease all;
    width: 100%;
    color: var(--placeholder-color);
}

.formContato__mensagem:focus~.formContato__label--mensagem,
.formContato__mensagem:not(:focus):valid~.formContato__label--mensagem {
    bottom: 7.575rem;
    font-size: .75rem;
    color: var(--form-border);
}