@import url(./menu-div.css);
@import url(./menu-logo.css);
@import url(./menu-search.css);
@import url(./menu-login.css);
@import url(./menu-admin.css);
@import url(./menu-searchBtn.css);

.menu {
    background: var(--bg-general);
    position: fixed;
    width: 100%;
    padding-right: 1rem;
    top: 0vh;
    z-index: 1;
}