.menu__login {
    background: transparent;
    border: 1px var(--btn-color) solid;
    color: var(--btn-color);
    padding: .75rem 0;
    width: 8.3125rem;
    font-size: .875rem;
    font-weight: 600;
    text-align: center;
}

.menu__login:hover {
    cursor: pointer;
    background-color: var(--btn-hover-sec);
}

@media screen and (min-width: 768px) {
    .menu__login {
        order: 1;
        width: 10.375rem;
        font-size: 1rem;
        font-weight: 400;
    }

}

@media screen and (min-width: 1024px) {
    .menu__login {
        width: 11.375rem;
    }
}