.menu__div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4.5rem;
    padding: 0 1rem;
}

@media screen and (min-width: 768px) {
    .menu__div {
        justify-content: flex-start;

        padding: 0 2rem;
    }
}

@media screen and (min-width: 1024px) {
    .menu__div {
        padding: 0 9.5rem;
    }
}