.menu__search {
    display: none;
}

@media screen and (min-width: 768px) {
    .menu__search {
        display: inline-flex;
        width: 17rem;
        height: 2.5rem;
        background: no-repeat 92%;
        background-image: url(../../img/search.png);
        background-color: var(--bg-general);
        border: none;
        outline: none;
        border-radius: 20px;
        padding-left: 1rem;
        margin-left: 2rem;
    }


}

@media screen and (min-width: 1024px) {
    .menu__search {
        width: 24.5625rem;
    }
}