@import url(./descricao-titulo.css);
@import url(./descricao-preco.css);
@import url(./descricao-conteudo.css);

.descricao {
    padding: 1rem;
}

@media screen and (min-width: 768px) {
    .descricao {
        padding: 0;
        height: 9.8125rem;
    }
}

@media screen and (min-width: 1440px) {
    .descricao {
        width: 50%;
    }
}