.produtos__container {
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(auto-fit, minmax(9.5rem, 9.5rem));
    gap: 1rem;
    justify-content: space-between;
    width: 100%;
}

@media screen and (min-width: 688px) {
    .produtos__container {
        grid-template: 1fr / repeat(auto-fit, minmax(9.5rem, 10.25rem));
        gap: 1rem;
    }

}

@media screen and (min-width: 1440px) {
    .produtos__container {
        grid-template: 1fr / repeat(auto-fit, minmax(9.5rem, 11rem));
    }

}