.produtos__link {
    color: var(--btn-color);
    font-size: .875rem;
    font-weight: 700;
    align-self: flex-end;
}

.produtos__link:not(.produtos__link--secao) {
    align-self: flex-start;
    margin-bottom: .5rem;
}