.produtos__link,
.produtos__link--secao {
    color: var(--btn-color);
    font-size: .875rem;
    font-weight: 700;
    align-self: flex-end;
    transition: .3s;
}

.produtos__link {
    align-self: flex-start;
    margin-bottom: .5rem;
}

.produtos__link:hover,
.produtos__link--secao:hover {
    color: var(--btn-hover-prim);
}

@media screen and (min-width: 768px) {

    .produtos__link,
    .produtos__link--secao {
        font-size: 1rem;
    }
}