.produtos__box {
    height: 15.5625rem;
    flex-direction: column;
    display: flex;
}

.produtos__box:nth-of-type(5),
.produtos__box:nth-of-type(6) {
    display: none;
}

@media screen and (max-width: 360px) {
    .produtos__box {
        justify-self: center;
    }
}

@media screen and (min-width: 1224px) {
    .produtos__box:nth-of-type(5) {
        display: block;
    }
}

@media screen and (min-width: 1440px) {

    .produtos__box:nth-of-type(6) {
        display: block;
    }

}